# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# dependencies
/backend/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/bazel-out

# Node
/frontend/node_modules
npm-debug.log
yarn-error.log

# Miscellaneous
/frontend/.angular
.sass-cache/
/frontend/connect.lock
/frontend/coverage
/frontend/reports
/frontend/libpeerconnection.log
testem.log
/frontend/typings

# System files
.DS_Store
Thumbs.db

/backend/coverage
/backend/results
backend/.nyc_output
